change "time" format validation

In JsonMetaSchema, can you change the build-in "time" format from
"time", "^\\d{2}:\\d{2}:\\d{2}$"
to something that supports also milliseconds? 
So the validation passes also for values like "15:30:22.573"

https://json-schema.org/draft/2020-12/json-schema-validation.html#rfc.section.7.3.1

Date and time format names are derived from RFC 3339, section 5.6.

time:
A string instance is valid against this attribute if it is a valid representation according to the "full-time" production. 

https://datatracker.ietf.org/doc/html/rfc3339#section-5.6

   The following profile of ISO 8601 [ISO8601] dates SHOULD be used in new protocols on the Internet.

   time-hour       = 2DIGIT  ; 00-23
   time-minute     = 2DIGIT  ; 00-59
   time-second     = 2DIGIT  ; 00-58, 00-59, 00-60 based on leap second
                             ; rules
   time-secfrac    = "." 1*DIGIT
   partial-time    = time-hour ":" time-minute ":" time-second
                     [time-secfrac]
   full-time       = partial-time time-offset

https://en.wikipedia.org/wiki/ISO_8601#Times

A decimal fraction may be added to the lowest order time element present, in any of these representations.


@MatusSivak Thanks a lot for raising this issue with detailed reference. I think it makes perfect sense to support the milliseconds in full-time. Would you be able to submit a PR to get it fixed? 

PR created

A new release 1.0.64 is published. Thanks for your help. 

https://github.com/networknt/json-schema-validator/releases/tag/1.0.64
